<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://js.stripe.com/v3/; style-src 'self'; script-src https://js.stripe.com/v3/;">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    {% include 'checkout_extras.html' %}
</head>

<body>
    <form id="payment-form">
        {% csrf_token %}
        <div id="card-element">
            <!--Stripe.js injects the Card Element-->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span>
        </button>
        <p id="card-error" role="alert"></p>
        <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
        </p>
    </form>
</body>

</html>
