{% extends 'base.html' %}

{% block content %}
<section class="product-section">
    <div class="product-showcase">
        <div class="product-gallery">
            <img src="https://source.unsplash.com/1920x1080/">
            <img src="https://source.unsplash.com/1920x1080/">
            <img src="https://source.unsplash.com/1920x1080/">
            <img src="https://source.unsplash.com/1920x1080/">
            <img src="https://source.unsplash.com/1920x1080/">
        </div>
        <div class="product-info">
            <h2>Desktop + Mobile Pack</h2>
            <div>
                <p>$7.99</p>
            </div>
            <div>
                <p>
                    Art party kickstarter viral street art selfies vexillologist VHS pop-up tote bag intelligentsia bespoke
                    quinoa. Schlitz hoodie pok pok lo-fi vape lyft plaid salvia. Farm-to-table cronut aesthetic, 8-bit
                    sustainable succulents next level VHS PBR&B lo-fi. Everyday carry kale chips taiyaki cloud bread pop-up
                    chicharrones tilde humblebrag 3 wolf moon truffaut. Try-hard DIY drinking vinegar scenester narwhal
                    paleo selfies tattooed occupy meggings four loko helvetica freegan pug. Tousled messenger bag la croix,
                    microdosing cred hammock sriracha kickstarter. Tousled live-edge brooklyn ethical, four loko keytar
                    selfies plaid raw denim hammock taiyaki squid.
                </p>
                <p>
                    Dreamcatcher truffaut normcore, taxidermy coloring book readymade try-hard tbh kale chips. Sustainable
                    single-origin coffee vape kitsch PBR&B echo park. Slow-carb glossier kitsch, pour-over hella tilde
                    bitters VHS cray. Pickled iPhone swag, vexillologist activated charcoal unicorn kogi. Disrupt
                    lumbersexual actually, normcore crucifix offal bitters helvetica glossier salvia 8-bit taxidermy beard
                    pour-over semiotics.
                </p>
                <p>
                    Slow-carb lumbersexual pabst tousled kogi, vinyl bushwick blog selfies. Distillery farm-to-table retro
                    gastropub, bicycle rights chicharrones listicle lo-fi man braid DIY woke affogato tacos. Gentrify
                    mumblecore YOLO quinoa drinking vinegar occupy. Deep v prism edison bulb austin.
                </p>
                <p>
                    Listicle raw denim pork belly small batch. Meditation seitan yr copper mug, slow-carb shaman la croix
                    tacos 3 wolf moon vaporware. Vice leggings try-hard chicharrones poutine. Green juice flannel af hammock
                    etsy. Butcher adaptogen heirloom man bun occupy knausgaard palo santo fixie gochujang tilde narwhal
                    vinyl shabby chic sustainable jianbing.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}