{% extends 'base.html' %}

{% block content %}
<section class="blog-grid">
    {% for post in blog_posts %}
    <article class="blog-post-card">
        <img src="https://source.unsplash.com/sqaure">
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.summary }}
        </p>
        <p class="post-meta">Posted on {{ post.publication_date }} by {{ post.author }}</p>
        <button type="button" class="solid-button">Read <i class="fas fa-arrow-right"></i></button>
    </article>
    {% endfor %}
</section>
{% endblock %}