<header>
    <div class="top-header">
        <div class="social-media-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <p class="branding">shunyaek</p>
        {% include 'search_bar.html' %}
    </div>
    <nav class="menu">
        <span class="nav-toggle" id="navbar-menu"><i class="fas fa-bars"></i></span>
    </nav>
    <nav class="nav" id="navbar">
        <a class="{{ index_active_state }}" href="{% url 'home' %}">Home</a>
        <a class="{{ shop_active_state }}" href="{% url 'shop:shop_home' %}">Presets</a>
        <a class="{{ blog_active_state }}" href="{% url 'blog:blog_home' %}">Blog</a>
        <a href="#about">About</a>
        <a href="#about">Contact</a>
    </nav>
</header>