{% extends 'base.html' %}

{% block content %}
<section class="picture-text">
    <div>
        <h2>This is some important thing to highlight.</h2>
        <p>Some other extended thing about the above highlighted content.</p>
        <form>
            <input type="email" id="get-started" name="get-started" placeholder="Enter your e-mail">
            <button type="button" class="solid-button">Connect <i class="fas fa-arrow-right"></i></button>
        </form>
    </div>
    <div>
        <img src="https://source.unsplash.com/1920x1080/">
    </div>
</section>
<section class="picture-banner">
    <div>
        <img src="https://source.unsplash.com/2880x1440/">
        <div class="banner-caption">
            <h1>Something exciting here!</h1>
            <p>More information about this here. This is some more content. More and more content is here.</p>
        </div>
    </div>
</section>
<section class="picture-grid">
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
</section>
<section class="picture-grid">
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="https://source.unsplash.com/1920x1080/">
        <div class="grid-item-caption">
            <p>More information about this here.</p>
        </div>
    </div>
</section>
{% endblock %}