{% extends 'base.html' %}

{% block content %}
{% for post in blog_posts %}
<a href="{% url 'blog:read_post' pk=post.pk %}" class="post-link">
    <div class="blog-post">
        <section class="post-widget">
            <div>
                <img src="{{ post.image.url }}" alt="test">
            </div>
            <div>
                <h2>{{ post.title|title }}</h2>
                <p>{{ post.content|truncatewords:50 }}</p>
            </div>
        </section>
    </div>
</a>
{% endfor %}
{% endblock %}