{% extends 'base.html' %}

{% block content %}
<div class="signx-form-heading">
    <h2>{{ page_heading|title }}</h2>
</div>
<div class="signx-form-box">
    <form enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.first_name.errors }}
        {{ form.last_name.errors }}
        {{ form.email.errors }}
        {{ form.password1.errors }}
        {{ form.password2.errors }}
        <div class="signx-item">
            <div class="signx-label">
                {{ form.username.label }}
            </div>
            <div class="signx-icon">
                <i class="fas fa-id-badge"></i>
            </div>
            <div class="signx-field">
                {{ form.username }}
            </div>
        </div>
        <div class="signx-item">
            <div class="signx-label">
                {{ form.first_name.label }}
            </div>
            <div class="signx-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="signx-field">
                {{ form.first_name }}
            </div>
        </div>
        <div class="signx-item">
            <div class="signx-label">
                {{ form.last_name.label }}
            </div>
            <div class="signx-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="signx-field">
                {{ form.last_name }}
            </div>
        </div>
        <div class="signx-item">
            <div class="signx-label">
                {{ form.email.label }}
            </div>
            <div class="signx-icon">
                <i class="fas fa-at"></i>
            </div>
            <div class="signx-field">
                {{ form.email }}
            </div>
        </div>
        <div class="signx-item">
            <div class="signx-label">
                {{ form.password1.label }}
            </div>
            <div class="signx-icon">
                <i class="fas fa-key"></i>
            </div>
            <div class="signx-field">
                {{ form.password1 }}
            </div>
        </div>
        <div class="signx-item">
            <div class="signx-label">
                {{ form.password2.label }}
            </div>
            <div class="signx-icon">
                <i class="fas fa-check-double"></i>
            </div>
            <div class="signx-field">
                {{ form.password2 }}
            </div>
        </div>
        <input class="signx-button" type="submit" value="{{ button_value|capfirst }}">
        <p>Have an account? <a href="{% url 'brand:sign_in' %}">Sign-In</a>.</p>
        <!-- <input class="signx-button-other" type="submit" value="Sign-In"> -->
    </form>
</div>
{% endblock %}