{% extends 'base.html' %}

{% block content %}
<div class="form-heading">
    <h2>{{ page_heading|title }}</h2>
</div>
<div class="form-box">
    <form enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        {{ form.first_name.label }}
        {{ form.first_name }}
        {{ form.last_name.label }}
        {{ form.last_name }}
        {{ form.email.label }}
        {{ form.email }}
        {{ form.password1.label }}
        {{ form.password1 }}
        {{ form.password2.label }}
        {{ form.password2 }}
        {{ form.as_p }}
        <input type="submit" value="{{ button_value|capfirst }}">
    </form>
</div>
{% endblock %}