@import url('./root.css');

a.post-link {
    color: var(--theme-color-primary);
    text-decoration: none;
}

a.post-link:link {
    color: var(--theme-color-primary);
    text-decoration: none;
}

a.post-link:visited {
    color: var(--theme-color-primary);
    text-decoration: none;
}

.blog-post {
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 0.01rem solid var(--theme-color-primary);
}

.blog-post:hover {
    box-shadow: 0 30px 20px -20px var(--shadow-dark);
}

.post-widget {
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    display: grid;
    grid-template-rows: 2fr, 1fr;
    grid-gap: 2vmin;
    gap: 2vmin;
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
}

.post-widget div {
    padding: 0rem;
    margin: 0rem;
    direction: ltr;
}

.post-widget img {
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    vertical-align: middle;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
}

.post-widget p,
.post-widget h2 {
    padding: var(--standard-padding);
    margin: calc(var(--standard-margin) / 4);
    direction: ltr;
}

.post-widget button {
    background-color: var(--theme-color-background);
    color: var(--theme-color-primary);
    border-radius: 0.5rem;
    border: 0.2rem solid var(--theme-color-secondary);
    box-shadow: 0 4px 14px 0 var(--shadow-secondary);
    padding-left: calc(var(--standard-padding) * 3);
    padding-right: calc(var(--standard-padding) * 3);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    margin: calc(var(--standard-margin) / 4);
    font-size: clamp(100%, 1rem + 2vw, 1.5rem);
    direction: ltr;
}

@media screen and (min-width: 900px) {

    .post-link:nth-of-type(odd) {
        direction: rtl;
    }

    .post-link:nth-of-type(even) {
        direction: ltr;
    }

    .blog-post {
        margin-left: calc(var(--standard-margin) * 4);
        margin-right: calc(var(--standard-margin) * 4);
        margin-top: var(--standard-margin);
        margin-bottom: var(--standard-margin);
    }

    .post-widget {
        margin: var(--standard-margin);
        padding: var(--standard-padding);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vmin;
        gap: 2vmin;
    }

    .post-widget div {
        padding: 0rem;
        margin: 0rem;
    }
}