@import url("./root.css");

.product-section {
    padding: 0;
}

.product-header {
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    margin-bottom: var(--standard-margin);
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2vmin;
    gap: 2vmin;
}

.product-header-buffer {
    display: none;
}

.product-header-content {
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
}

.options-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.price-box {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fill;
    background-color: var(--theme-color-background);
    color: var(--theme-color-primary);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0.01rem solid var(--theme-color-secondary);
    border-bottom: 0;
    padding-left: calc(var(--standard-padding) * 3);
    padding-right: calc(var(--standard-padding) * 3);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    font-size: clamp(100%, 1rem + 2vw, 1.5rem);
    text-align: center;
}

.purchase-button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fill;
    background-color: var(--theme-color-secondary);
    color: var(--theme-color-background);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0.01rem solid var(--theme-color-secondary);
    box-shadow: 0 4px 14px 0 var(--shadow-secondary);
    padding-left: calc(var(--standard-padding) * 3);
    padding-right: calc(var(--standard-padding) * 3);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    font-size: clamp(100%, 1rem + 2vw, 1.5rem);
    text-align: center;
}

.faqs-link {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fill;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    padding-left: calc(var(--standard-padding) * 3);
    padding-right: calc(var(--standard-padding) * 3);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    background-color: var(--theme-color-background);
    color: var(--theme-color-primary);
}

.product-showcase {
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    padding-left: var(--standard-padding);
    padding-right: var(--standard-padding);
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: 1vmin;
    gap: 1vmin;
}

.product-gallery {
    margin-top: 0;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: dense;
    grid-gap: 1vmin;
    gap: 1vmin;
    justify-content: start;
}

.fotorama {
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
}

.fotorama img {
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    vertical-align: middle;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.product-info {
    margin-top: 0;
}

.product-info p {
    margin-top: 0;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

.faqs-box {
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(var(--standard-margin) / 16);
    margin-right: calc(var(--standard-margin) / 16);
    margin-top: calc(var(--standard-margin) * 2);
    margin-bottom: calc(var(--standard-margin) * 2);
}

.faqs {
    margin: var(--centering-margin);
    padding: var(--standard-padding);
    max-width: 90%;
    background-color: var(--theme-color-background);
    border-radius: 0.5rem;
    border: 0.01rem solid var(--theme-color-primary);
    box-shadow: 0 30px 20px -20px var(--shadow-dark),
        0 -30px 20px -20px var(--shadow-dark),
        30px 0 20px -20px var(--shadow-dark),
        -30px 0 20px -20px var(--shadow-dark);
}

.faqs h2 {
    padding-left: calc(var(--standard-padding) * 4);
    padding-right: calc(var(--standard-padding) * 4);
}

.faqs-grid {
    display: flexbox;
    flex-flow: row wrap;
}

.faqs-grid div {
    flex: 1;
    flex-shrink: 1;
    padding-left: calc(var(--standard-padding) * 4);
    padding-right: calc(var(--standard-padding) * 4);
}

@media screen and (min-width: 900px) {
    .product-header {
        margin-left: var(--standard-margin);
        margin-right: var(--standard-margin);
        margin-bottom: var(--standard-margin);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vmin;
        gap: 2vmin;
    }

    .product-header-buffer {
        display: inline;
    }

    .options-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .price-box {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: fill;
        background-color: var(--theme-color-background);
        color: var(--theme-color-primary);
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border: 0.01rem solid var(--theme-color-secondary);
        border-right: 0;
        padding-left: calc(var(--standard-padding) * 3);
        padding-right: calc(var(--standard-padding) * 3);
        padding-top: var(--standard-padding);
        padding-bottom: var(--standard-padding);
        font-size: clamp(100%, 1rem + 2vw, 1.5rem);
        text-align: center;
    }

    .purchase-button {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: fill;
        background-color: var(--theme-color-secondary);
        color: var(--theme-color-background);
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border: 0.01rem solid var(--theme-color-secondary);
        box-shadow: 0 4px 14px 0 var(--shadow-secondary);
        padding-left: calc(var(--standard-padding) * 3);
        padding-right: calc(var(--standard-padding) * 3);
        padding-top: var(--standard-padding);
        padding-bottom: var(--standard-padding);
        font-size: clamp(100%, 1rem + 2vw, 1.5rem);
        text-align: center;
    }

    .faqs-link {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: fill;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: dotted;
        padding-left: calc(var(--standard-padding) * 3);
        padding-right: calc(var(--standard-padding) * 3);
        padding-top: var(--standard-padding);
        padding-bottom: var(--standard-padding);
        background-color: var(--theme-color-background);
        color: var(--theme-color-primary);
    }

    .product-showcase {
        margin-left: var(--standard-margin);
        margin-right: var(--standard-margin);
        padding-left: var(--standard-padding);
        padding-right: var(--standard-padding);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vmin;
        gap: 2vmin;
    }

    .product-gallery {
        margin-top: 0;
        display: flexbox;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .product-info {
        margin-top: 0;
        margin-left: var(--standard-margin);
        margin-right: var(--standard-margin);
    }
}
