@import url("./root.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./blog.css");
@import url("./post.css");
@import url("./forms.css");
@import url("./signx.css");

html {
    font-size: var(--base-font-size);
}

body {
    background-color: var(--theme-color-background);
    font-size: clamp(100%, 1rem + 2vw, 1.5rem);
    margin: var(--centering-margin);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin: var(--centering-margin);
    font-family: var(--other-font);
}

.shopping-grid {
    font-family: var(--other-font);
    margin: var(--standard-margin);
    padding: calc(var(--standard-padding) * 6);
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 4vmin;
    gap: 4vmin;
}

.card {
    background-color: var(--white);
    border: 0.01rem solid var(--theme-color-primary);
    border-radius: 0.5rem;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 30px 20px -20px var(--shadow-dark);
}

.card img {
    border: 0.2rem solid var(--placeholder-border);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.card h2,
.card h4,
.card p {
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    text-align: center;
}

.card h2 {
    font-weight: 500;
}

.card p {
    font-size: clamp(80%, 0.5rem + 2vw, 0.5rem);
}

.picture-text {
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    display: grid;
    grid-template-rows: 2fr, 1fr;
    grid-gap: 2vmin;
    gap: 2vmin;
}

.picture-text div {
    padding: 0rem;
    margin: 0rem;
}

.picture-text img {
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    vertical-align: middle;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.picture-text p,
.picture-text h2 {
    padding: var(--standard-padding);
    margin: calc(var(--standard-margin) / 4);
}

.picture-text form {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}

.picture-text form input {
    flex: 2;
    padding: var(--standard-padding);
    margin: calc(var(--standard-margin) / 4);
    background-color: var(--theme-color-background);
    border: 0.1rem solid var(--theme-color-secondary);
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 4px 14px 0 var(--shadow-secondary);
    font-size: clamp(80%, 0.5rem + 2vw, 0.75rem);
}

.picture-text form input:focus {
    flex: 2;
    padding: var(--standard-padding);
    margin: calc(var(--standard-margin) / 4);
    background-color: var(--theme-color-background);
    border: 0.1rem solid var(--theme-color-secondary);
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 4px 14px 0 var(--shadow-secondary);
    font-size: clamp(80%, 0.5rem + 2vw, 0.75rem);
}

.picture-text form button {
    flex: 1;
    margin: calc(var(--standard-margin) / 4);
}

.picture-grid {
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vmin;
    gap: 2vmin;
    width: auto;
    height: auto;
}

.picture-grid div.grid-item {
    position: relative;
}

.grid-item img {
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    vertical-align: middle;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.grid-item img:hover {
    filter: brightness(50%);
}

.grid-item div.grid-item-caption {
    opacity: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-rendering: optimizeLegibility;
    color: var(--theme-color-background);
}

.grid-item div.grid-item-caption:hover {
    opacity: 100%;
}

.grid-item div.grid-item-caption p {
    font-size: clamp(60%, 0.25rem + 2vw, 0.5rem);
    padding: var(--standard-padding);
    margin: var(--standard-margin);
}

.picture-banner {
    position: relative;
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vmin;
    gap: 2vmin;
}

.picture-banner img {
    border: 0.2rem solid var(--placeholder-border);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    vertical-align: middle;
    filter: brightness(50%);
    object-fit: cover;
}

.picture-banner div.banner-caption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-rendering: optimizeLegibility;
    color: var(--theme-color-background);
}

.banner-caption h1 {
    font-size: clamp(100%, 0.75rem + 2vw, 1rem);
    text-transform: uppercase;
    padding: var(--standard-padding);
    margin: var(--standard-margin);
}

.banner-caption p {
    font-size: clamp(60%, 0.25rem + 2vw, 0.5rem);
    padding: var(--standard-padding);
    margin: var(--standard-margin);
}

.solid-button {
    background-color: var(--theme-color-secondary);
    color: var(--theme-color-background);
    border-radius: 0.5rem;
    border: 0.2rem solid var(--theme-color-secondary);
    box-shadow: 0 4px 14px 0 var(--shadow-secondary);
    padding-left: calc(var(--standard-padding) * 3);
    padding-right: calc(var(--standard-padding) * 3);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    font-size: clamp(100%, 1rem + 2vw, 1.5rem);
}

@media screen and (min-width: 900px) {
    .picture-text {
        margin: var(--standard-margin);
        padding: var(--standard-padding);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vmin;
        gap: 2vmin;
    }

    .picture-text div {
        padding: 0rem;
        margin: 0rem;
    }

    .picture-text form {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
    }

    .picture-grid {
        margin: var(--standard-margin);
        padding: var(--standard-padding);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vmin;
        gap: 2vmin;
    }

    .picture-banner div.banner-caption {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-rendering: optimizeLegibility;
        color: var(--theme-color-background);
    }

    .banner-caption h1 {
        font-size: clamp(100%, 5rem + 2vw, 6rem);
        text-transform: uppercase;
        padding: var(--standard-padding);
        margin: var(--standard-margin);
    }

    .banner-caption p {
        font-size: clamp(60%, 1rem + 2vw, 1.5rem);
        padding: var(--standard-padding);
        margin: var(--standard-margin);
    }

    .shopping-grid {
        font-family: var(--other-font);
        margin: var(--standard-margin);
        padding: calc(var(--standard-padding) * 6);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vmin;
        gap: 4vmin;
    }
}
